.about-section-container{
    padding: 50px 0;
    display: flex;
    padding-left: 10%;
}


.badge {
  display: block;
  position: relative;
  width: 20rem;
  height: 20rem;
  cursor: pointer;
  /* background: url(https://source.unsplash.com/random/1000x1000) no-repeat 100% 50%; */
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: cover;
  /* background-size: 120%; */
  border-radius: 50%;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.75);
}
.badge:hover {
  box-shadow: 0px 0.5rem 2rem rgba(0, 0, 0, 0.75);
  background-position: 0% 50%;
}
.badge:hover .text {
  transform: rotate(-45deg) translate(0px) rotate(-315deg);
  background: rgba(102, 51, 153, 0.5);
  width: 20rem;
  letter-spacing: 1rem;
  line-height: 20rem;
  height: 20rem;
  margin-top: -10rem;
  margin-left: -10rem;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1), letter-spacing 1.5s ease-out;
}
.badge .text {
  display: block;
  position: absolute;
  width: 10rem;
  height: 10rem;
  line-height: 10rem;
  left: 50%;
  top: 50%;
  margin-top: -5rem;
  margin-left: -5rem;
  font-size: 2rem;
  font-family: Raleway, sans-serif;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: rebeccapurple;
  transform: rotate(-180deg) translate(-10rem) rotate(180deg);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

/* ******************************************************************* */

.about-info-cont{
    padding-left: 200px;
}

.subtitle-wrapper{
    box-sizing: content-box;
    height: 30px;
    padding: 25px 30px;
    display: flex;
    font-size: 25px;
    color: white;
}
.subtitle-wrapper .words{
    overflow: hidden;
}
.subtitle-wrapper span{
    display: block;
    height: 100%;
    padding-left: 10px;
    color: rebeccapurple;
    animation: spin_words 6s infinite;
}
@keyframes spin_words{
    10%{
        transform: translateY(-112%);
    }
    25%{
        transform: translateY(-100%);
    }
    35%{
        transform: translateY(-212%);
    }
    50%{
        transform: translateY(-200%);
    }
    60%{
        transform: translateY(-312%);
    }
    75%{
        transform: translateY(-300%);
    }
    85%{
        transform: translateY(-400%);
    }
    100%{
        transform: translateY(-400%);
    }
}
.about-desc{
    color: white;
    padding-left: 25px;
}
.about-desc p{
    font-size: 18px;
    text-align: justify;
    width: 70%;
    color: rgba(255, 255, 255, 0.5);
}
.about-quote{
    text-align: center;
    color: white;
    font-size: 50px;
}

.in-view{
    animation: 1s fadeInUp ease-in-out;
}

@keyframes fadeInUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }


  @media (max-width: 900px){
    .about-section-container{
        padding: 150px 0 100px 0;
        flex-direction: column;
    }
    .about-info-cont{
        padding: 0 0 0 20px;

    }
  }