.contact-section{
    color: white;
    padding: 20px 20%;
}

.contact-section h2{
    font-size: 30px;
    margin-bottom: 50px;
}

.contact-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.contact-info{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contact-icon{
    color: rebeccapurple;
}

.contact-info>div{
    display: flex;
    gap: 10px;
}

.social-icons a img{
    width: 30px;
}

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form input{
    padding: 10px 20px;
    width: 400px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 18px;
    outline: none;
    border-radius: 10px;
}

.contact-form textarea{
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    resize: none;
    color: white;
    font-size: 18px;
    outline: none;
    border-radius: 10px;
    padding: 20px;
}

.contact-form button{
    padding: 10px 20px;
    background-color: rebeccapurple;
    border: none;
    color: white;
    width: fit-content;
    cursor: pointer;
    letter-spacing: 1.5px;
    font-size: 18px;
    border-radius: 5px;
}

.contact-info button{
    color: white;
    background-color: transparent;
    border: 1px solid rebeccapurple;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease;
    border-radius: 5px;
}

.contact-info button:hover{
    background-color: rebeccapurple;
}

@media (max-width: 900px){
    .contact-section{
        padding: 20px;
    }
    .contact-wrapper{
        flex-direction: column;
        gap: 30px;
    }
    .contact-form{
        padding: 20px;
    }
    .contact-form input{
        width: 350px;
    }
}