.testimonial-section{
    color: white;
    padding: 50px 0;
}
.testimonial-section h2{
    text-align: center;
    font-size: 30px;
}

.swiper {
    width: 80%;
    height: 100%;
  }
  
  .swiper-slide {
    padding-top: 100px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide p{
    width: 50%;
  }

  .author-name{
    margin: 20px 0px 20px auto;
  }

  .swiper-slide img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 50px;
    object-fit: cover;
  }

  .swiper-button-prev::after{
    color: white;
  }

  .swiper-button-next::after{
    color: white;
  }

  .swiper-pagination-bullet{
    background-color: white;
  }

  @media (max-width: 900px){
    .swiper{
      width: 100%;
      font-size: 12px;
    }
    .swiper-slide p{
      width: 75%;
    }
  }